
body.dark-mode {
    background-color: #171a20;
    color: #edf2f7;
}

body.dark-mode .top-bar {
    background-color: #1a202c;
}

body.dark-mode .top-bar button {
    color: white;
}

body.dark-mode .top-bar button:hover {
    color: #edf2f7;
}

body.dark-mode .top-bar button.puzzles:hover {
    border-color: #edf2f7;
}

body.dark-mode #puzzle-list-button {
    border: thin solid white;
}

body.dark-mode #puzzle-list-button:hover {
    background-color: #2d3748;
}

body.dark-mode .modal-content {
    background-color: #272e3a;
}

body.dark-mode .toggle-pill {
    background-color: #1a202c;
}

body.dark-mode .option-name {
    color: #edf2f7;
}

body.dark-mode .close-button {
    color: #edf2f7;
}

body.dark-mode .switch-buttons button {
    color: #edf2f7;
}

body.dark-mode .switch-buttons button:hover {
    background-color: #373e4a;
}

body.dark-mode .back-button {
    color: white;
}