* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 3px;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

html {
    height: 100%;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

.modal-content {
    width: 50%;
    max-height: 60%;
    height: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    overflow-y: auto;
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

.modal-content ul {
    list-style: none;
    padding: 0;
}

.modal-content ul li {
    margin: 10px 0;
}

.modal-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    border-bottom: thin solid;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    display: flex;
    justify-content: flex-end;
    width: 5%;
}

button {
    color: black;
}

.regular-button {
    width: 30%;
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    aspect-ratio: 3 / 1;
    border: none;
    border-radius: 3vh;
    color: black;
    padding: 1.5vh;
}

.regular-button:disabled {
    color: #999999;
}

@media (max-height: 700px) and (orientation: landscape) {
    .modal-content {
        width: 80%;
        max-height: 80%;
    }
    
    #main-container {
        width: 60%;
    }

    .regular-button {
        font-size: 2.4vh;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    .modal-content {
        width: 80%;
        max-height: 80%;
    }

    .modal-entry h2 {
        font-size: 3.4vh;
    }

    #main-container {
        width: 80%;
    }

    .regular-button {
        font-size: 1.6vh;
        aspect-ratio: 3 / 1;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    .modal-content {
        width: 80%;
        max-height: 80%;
    }

    .modal-entry h2 {
        font-size: 5vh;
    }

    #main-container {
        width: 70%;
    }

    .regular-button {
        font-size: 3vh;
    }
}

@media (max-width: 650px) and (orientation: portrait) {
    .modal-content {
        width: 80%;
        max-height: 80%;
    }

    .modal-entry h2 {
        font-size: 2.5vh;
    }

    #main-container {
        width: 98%;
    }

    .regular-button {
        font-size: 1.6vh;
        aspect-ratio: 2 / 1;
    }
}