.tries-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;
    height: 20vh;
}

.grid-item {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    border: none;
    font-size: 1.8vh;
    text-transform: uppercase;
}

.grid-item.filled {
    background-color: #888888;
    color: black;
}

.grid-item.very-close {
    background-color: #EE8378;
}

.grid-item.close {
    background-color: #99FF88;
}

.grid-item.far-off {
    background-color: #89CFF0; 
}

.grid-item.undefined {
    background-color: #888888; 
}

@media (max-width: 1024px) and (orientation: portrait) {
    .grid-item {
        font-size: 1.5vh;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    .tries-grid {
        gap: 5px;
        margin-top: 0vh;
        margin-bottom: 14vh;
        height: 12vh;
    }

    .grid-item {
        font-size: 2.5vh;
    }
}

@media (max-width: 650px) and (orientation: portrait) {
    .tries-grid {
        gap: 5px;
        margin-top: 0vh;
        height: 14vh;
    }

    .grid-item {
        font-size: 1.4vh;
    }
}