.remaining-tries-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.remaining-tries-text {
    font-size: 1em;
    padding-right: 1vw;
    display: flex;
    justify-content: flex-end;
}

.tries-bubbles {
    display: flex;
    gap: 8px;
    padding-left: 1vw;
    display: flex;
    justify-content: flex-start;
}

.bubble {
    width: 20px;
    height: 20px;
    background-color: #888888;
    border-radius: 50%;
}

#buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1024px) and (orientation: portrait) {
    .remaining-tries-text {
        font-size: 1.8vh;
    }

    #results-button {
        margin-top: 3vh;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    
}

@media (max-width: 650px) and (orientation: portrait) {
    .remaining-tries-text {
        font-size: 2vh;
    }

    .remaining-tries-container {
        gap: 2vh;
    }

    .bubble {
        width: 2vh;
        height: 2vh;
    }

    #buttons-container {
        margin-top: -1vh;
    }
}